* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: whitesmoke;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1{
  text-align: center;
}

.contentdiv {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 15px;
}

@media (max-width: 992px) {
    .contentdiv {
      width: 100%
    }
}
