<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static "css/passwords.css" %}">
    <!-- <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
    /> -->
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <body class="body">
    <nav class="sidebar close">
        <header>
            <!-- <div class="image-text">
                <span class="image">
                </span>

                <div class="text logo-text">
                    <span class="name">CUDDER</span>
                </div>
            </div> -->

            <!-- <i class='bx bx-chevron-right toggle'></i> -->
        </header>

        <div class="menu-bar">
            <div class="menu">

                <ul class="menu-links">
                    <li class="nav-link">
                        <a onclick="window.location='/blocks/passwords/{{user.username}}';" style="cursor:pointer;">
                            <i class='bx bx-home-alt icon' ></i>
                            <span class="text nav-text">Credentials</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a onclick="window.location='/blocks/notes/{{user.username}}';" style="cursor:pointer;">
                            <i class='bx bx-bar-chart-alt-2 icon' ></i>
                            <span class="text nav-text">Notes</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-bell icon'></i>
                            <span class="text nav-text">Documents</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-pie-chart-alt icon' ></i>
                            <span class="text nav-text">Analytics</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-heart icon' ></i>
                            <span class="text nav-text">Likes</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-wallet icon' ></i>
                            <span class="text nav-text">Wallets</span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                  <a onclick="window.location='/accounts/logout';" style="cursor:pointer;">
                      <i class='bx bx-log-out icon' ></i>
                      <span class="text nav-text">Logout</span>
                  </a>
                </li>

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>

            </div>
        </div>

    </nav>

    <section class="home">

    <div class="container">
      <div class="addCredentialForm hidden">
      <form class="userCredentials" action="/blocks/userCredentials" method="POST">
        <!-- {% csrf_token %} -->
        <input type="text" name="blocktitle" class="blocktitle" value="" placeholder="Title" title="Title here" autoComplete="off"><br><br>
        <input type="text" name="username" class="username" value="" placeholder="Username" title="Username here" autoComplete="off"><br><br>
        <input type="text" name="password" class="password" value="" placeholder="Password" title="Password here" autoComplete="off"><br><br>
        <input type="submit" class="submitBtn" name="" value="Submit">
        <button type="button" class="cancelBtn btn-danger" name="button">Cancel</button>
      </form>
    </div>
        <!-- <div class="input-group mb-3">
          <input
            id="searchbar"
            type="text"
            class="form-control"
            placeholder="Search"
            aria-describedby="button-addon2"
          />
          <div class="input-group-append searcharea">
            <button
              class="btn btn-outline-secondary"
              type="button"
              id="searchbutton"
            >
              🔍
            </button>
          </div>
        </div> -->
        <input type="text" id="myInput" class="form-control" onkeyup="searchFilter()" placeholder="Search for titles.." title="Type in a title">
        <div class="mt-4">
          <button class="addDataBtn addDataButtonStyle" title="Save a password">&plus; Save a password</button>
        </div>
    <!-- <div class="blocksdiv"> -->
      <!-- <div class="credentialdiv">
        <h3 class="title">Username: abhirath</h3>
        <h3 class="title">Password: Abhi@2002</h3>
      </div>
      <div class="credentialdiv">
        <h3 class="title">Username: abhirath</h3>
        <h3 class="title">Password: Abhi@2002</h3>
      </div>
      <div class="credentialdiv">
        <h3 class="title">Username: abhirath</h3>
        <h3 class="title">Password: Abhi@2002</h3>
      </div> -->
    <!-- </div> -->
  <table class="credentialTable table">
    <thead class="tableHead">
      <th>Sr. no.</th>
      <th>Title</th>
      <th>Username</th>
      <th>Password</th>
    </thead>
    <tbody class="tablebody">
    </tbody>
  </table>
</div>
<div class="notification-container" id="notification-container">

  <!-- <div class="notification notification-success">
    <strong>Success:</strong> Credential stored on the blockchain.
  </div> -->
</div>
</section>

    <script type="text/javascript">
      const userCredentialsForm = document.querySelector('.userCredentials')
      // const formCsrf = document.getElementsByName('csrfmiddlewaretoken')[0].value
      const blocksdiv = document.querySelector('.blocksdiv')
      const tablebody = document.querySelector('.tablebody')
      const addCredentialForm = document.querySelector('.addCredentialForm')
      const addDataBtn = document.querySelector('.addDataBtn')
      const cancelBtn = document.querySelector('.cancelBtn')

      addDataBtn.onclick = function() {
        addCredentialForm.classList.remove('hidden')
      }

      cancelBtn.onclick = function() {
        addCredentialForm.classList.add('hidden')
      }

      // tablebody.innerHTML = `<tr><td>Instagram</td><td>abhirathh</td><td>Abhirath@2002</td></tr>`

      function generateHtml(user_data) {
        let template = '';
        let tableTemplate = '';
        let srNo = 0
        user_data.map((data) => {
          srNo += 1
          template += `<div class="credentialdiv">
            <h3 class="title">Title: ${data.blocktitle}</h3><br>
            <h3 class="title">Username: ${data.username}</h3><br>
            <h3 class="title">Password: ${data.password}</h3>
          </div>`
          tableTemplate += `<tr class="tableRow"><td>${srNo}</td><td>${data.blocktitle}</td><td>${data.username}</td><td>${data.password}</td></tr>`
        })
        tablebody.innerHTML = tableTemplate
        // blocksdiv.innerHTML = template
      }

      function fetchAndShow() {
      fetch('/blocks/get_user_blocks').then(response => response.json()).then(data => {
        // console.log(data);
        generateHtml(data)
      })
    }

    fetchAndShow()

      userCredentialsForm.addEventListener('submit', (e) => {
        e.preventDefault()

        const backendCredentialForm = new FormData()
        backendCredentialForm.append('username', document.querySelector('.username').value)
        backendCredentialForm.append('password', document.querySelector('.password').value)
        backendCredentialForm.append('blocktitle', document.querySelector('.blocktitle').value)
        // backendCredentialForm.append('csrfmiddlewaretoken', formCsrf)
        fetch('/blocks/userCredentials', {
          method: 'POST',
          body: backendCredentialForm
        })
        document.querySelector('.username').value = document.querySelector('.password').value = document.querySelector('.blocktitle').value = ''
        setTimeout(() => {
          fetchAndShow()
          addCredentialForm.classList.add('hidden')
        }, 100)

        shootSuccessNotification()


      })


// Notification
const notificationContainer = document.getElementById('notification-container');
const NOTIFICATION_TYPES = {
	// INFO: 'info',
	SUCCESS: 'success',
	// WARNING: 'warning',
	// DANGER: 'danger'
}

function addNotification(type, text) {
    // create the DIV and add the required classes
    const newNotification = document.createElement('div');
    newNotification.classList.add('notification', `notification-${type}`);

    const innerNotification = `
		<strong>${type}:</strong> ${text}
	`;

    // insert the inner elements
    newNotification.innerHTML = innerNotification;

    // add the newNotification to the container
    notificationContainer.appendChild(newNotification);

    return newNotification;
}

function removeNotification(notification) {
	notification.classList.add('hide');

	// remove notification from the DOM after 0.5 seconds
	setTimeout(() => {
		notificationContainer.removeChild(notification);
	}, 500);
}

// adding and removing notification for DEMO purposes
function shootSuccessNotification() {
  setTimeout(() => {
    const success = addNotification(NOTIFICATION_TYPES.SUCCESS, 'Credential stored on the network');
    setTimeout(() => {
      removeNotification(success);
    }, 2000);
  }, 100);
}

// Search filter
function searchFilter() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.querySelector(".credentialTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      innerHTMLArr = td.textContent
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

const body = document.querySelector('body'),
      sidebar = body.querySelector('nav'),
      // toggle = body.querySelector(".toggle"),
      modeSwitch = body.querySelector(".toggle-switch"),
      modeText = body.querySelector(".mode-text");


sidebar.classList.remove("close");

modeSwitch.addEventListener("click" , () =>{
    body.classList.toggle("dark");


    if(body.classList.contains("dark")){
        modeText.innerText = "Light mode";
        document.querySelector('.tableHead').style.color = '#fff'
        for(let y = 0; y < document.querySelectorAll('.tableRow').length; y++) {
        document.querySelectorAll('.tableRow')[y].style.color = '#fff'
      }
      document.querySelector('.body').style.backgroundColor = '#000'
    }else{
        modeText.innerText = "Dark mode";
        document.querySelector('.tableHead').style.color = '#000'
        for(let y = 0; y < document.querySelectorAll('.tableRow').length; y++) {
        document.querySelectorAll('.tableRow')[y].style.color = '#000'
      }
      document.querySelector('.body').style.backgroundColor = '#fff'

    }
});
    </script>
  </body>
</html>
